<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>202606292059</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
				<key>dateExpires</key>
				<string>2027. 06. 16.</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorDevice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorPushNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapawesomeCapacitorBadge.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LiveKitClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.18</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LiveKitWebRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Logging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftProtobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.38.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202606292059</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32F353A7C7DD7A9A2EE925B27ED3C02E15566BA</string>
						<key>dateExpires</key>
						<string>2027. 06. 16.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CWY396X76</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9CWY396X76.com.flowone.chat</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9CWY396X76</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>af3cbfb9-13c0-4260-9bcb-3244c36f7def</string>
				<key>dateExpires</key>
				<string>2027. 06. 16.</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.flowone.chat</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9CWY396X76</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
